In [1]:
import requests
import numpy as np
import pandas as pd
import os
import time
import datetime
import re
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import Select
import time
import numpy as np

In [2]:
col_dict = {"corp_id": str, "corp_name": str, "website": str}
corp = pd.read_excel('C:/Users/user/Downloads/corp_website_done.xlsx', dtype=col_dict)

In [3]:
corp['corp_id']

0        000036QI
1        000040BA
2        000080MI
3        000195PH
4        000259PT
           ...
12686    98910003
12687    97413338
12688    97397885
12689    97417474
12690    97498531
Name: corp_id, Length: 12691, dtype: object

In [4]:
corp['corp_id'] = corp['corp_id'].map(lambda x:("0"*(8-len(x))+x) if len(x)<8 else x)

In [5]:
corp_id_list_total = list(corp["corp_id"])

In [6]:
corp

,corp_id,corp_name,corp_name_web,comm_name,branch_name,corp_name_web_eng,website,check,time_out
0,000036QI,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,000040BA,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,000080MI,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,000195PH,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,000259PT,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
...,...,...,...,...,...,...,...,...,...
12686,98910003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12687,97413338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12688,97397885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12689,97417474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12690,97498531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#selenium settings
options = Options()
options.add_argument("--disable-gpu");
chrome = webdriver.Chrome('./chromedriver',options=options)
#設定等待時間
chrome.implicitly_wait(5)
chrome.set_page_load_timeout(15)

In [18]:
corp_id_list = corp_id_list_total[6000:6500]

In [19]:
corp_id_list

['38750755',
 '42697402',
 '42773978',
 '38443032',
 '38834100',
 '41346978',
 '41426769',
 '40745104',
 '400010BR',
 '41410491',
 '41387787',
 '42828262',
 '42701721',
 '38669122',
 '39872171',
 '388637SI',
 '41216216',
 '42639473',
 '42636927',
 '38721534',
 '42497565',
 '39606792',
 '42640746',
 '40115507',
 '400444QI',
 '53110630',
 '53795653',
 '53451025',
 '53498393',
 '53080039',
 '53618799',
 '53258936',
 '53729177',
 '53093421',
 '53089073',
 '53134176',
 '53113411',
 '45664930',
 '45058879',
 '43814765',
 '45117618',
 '45693344',
 '47832103',
 '45910567',
 '45207245',
 '47686713',
 '42954865',
 '47692840',
 '45630221',
 '42990567',
 '47895227',
 '47814999',
 '45308594',
 '453516GU',
 '45503169',
 '47255947',
 '45898803',
 '45858443',
 '47885488',
 '42847227',
 '47861438',
 '47736381',
 '45894882',
 '47942729',
 '47670352',
 '47893179',
 '42926616',
 '45145115',
 '43885971',
 '47799174',
 '47674293',
 '42916856',
 '43739422',
 '47760810',
 '47282395',
 '42900138',
 '450665BR',
 '45623214',
 '45187070',
 '43880075',
 '45140028',
 '44549792',
 '45877743',
 '47948527',
 '42855345',
 '444631SE',
 '42929938',
 '45852243',
 '47996294',
 '45378009',
 '45737949',
 '42971914',
 '47902986',
 '442513CH',
 '45777913',
 '42927100',
 '43940828',
 '45533924',
 '43942473',
 '42959117',
 '42850263',
 '47983087',
 '47056834',
 '43942369',
 '47425008',
 '47532534',
 '47902536',
 '45505568',
 '47456509',
 '43797885',
 '47729945',
 '45253330',
 '42941145',
 '45217399',
 '47608196',
 '43778070',
 '42998147',
 '43710500',
 '45135382',
 '42843714',
 '42836621',
 '45141053',
 '47979696',
 '43712015',
 '431445BE',
 '45136299',
 '47926869',
 '47683856',
 '45878222',
 '42832890',
 '45132580',
 '45879480',
 '47350674',
 '473757GR',
 '47728312',
 '45486817',
 '47122187',
 '43941967',
 '42937304',
 '42881619',
 '47888767',
 '46125101',
 '42923293',
 '45770637',
 '47987231',
 '43908307',
 '450816LE',
 '45695440',
 '42880132',
 '43139530',
 '45101307',
 '42830056',
 '47785832',
 '43008609',
 '474757GU',
 '47761000',
 '45144679',
 '42874666',
 '42834145',
 '42856061',
 '47898287',
 '42981461',
 '42840792',
 '45845031',
 '43812598',
 '45268220',
 '42860939',
 '45141693',
 '45864607',
 '42867546',
 '43920920',
 '45917506',
 '45537560',
 '465525HA',
 '478231TI',
 '42995900',
 '444106PR',
 '43877536',
 '47486525',
 '42981906',
 '46399278',
 '458807MA',
 '437567SH',
 '47947956',
 '47240184',
 '45891225',
 '42856718',
 '43691187',
 '47312308',
 '45869259',
 '43137322',
 '42886374',
 '47781553',
 '47636340',
 '455450SU',
 '47067419',
 '43943521',
 '47474366',
 '45138445',
 '43870626',
 '42864858',
 '45314131',
 '45834301',
 '46522100',
 '47652404',
 '43901037',
 '47681301',
 '43916453',
 '47700953',
 '47322951',
 '42870211',
 '42879276',
 '47987014',
 '44520211',
 '45107111',
 '43786825',
 '47474350',
 '45900358',
 '47245054',
 '47871956',
 '42935328',
 '47961149',
 '447497ME',
 '45839740',
 '47997456',
 '43927563',
 '43717172',
 '47887850',
 '42993564',
 '47163721',
 '432049HU',
 '43812979',
 '45125791',
 '47439586',
 '43904365',
 '42888726',
 '45127735',
 '43799510',
 '47922322',
 '43871168',
 '43295237',
 '45186332',
 '47886466',
 '433708SE',
 '42986732',
 '47646136',
 '42840006',
 '47744903',
 '45162872',
 '42977419',
 '45140483',
 '462460IN',
 '45114942',
 '47957460',
 '47069129',
 '469857GR',
 '45695949',
 '45146022',
 '451920GO',
 '43348121',
 '45142953',
 '47975235',
 '45892456',
 '44420509',
 '42954984',
 '47647206',
 '42894966',
 '45146347',
 '433623SE',
 '45877096',
 '45728836',
 '47798554',
 '45145699',
 '44955117',
 '47118819',
 '471567AD',
 '43778640',
 '47706915',
 '47854534',
 '42856837',
 '43859707',
 '43780596',
 '45428486',
 '47827740',
 '42916814',
 '460839CO',
 '43947483',
 '45842750',
 '47543624',
 '42875692',
 '47589959',
 '42984621',
 '47671113',
 '46007218',
 '43797153',
 '42979508',
 '47904302',
 '471891DI',
 '43345200',
 '46368401',
 '42956792',
 '42996083',
 '45911735',
 '45097824',
 '47395454',
 '45895051',
 '47599062',
 '47892642',
 '42850453',
 '47479931',
 '47642363',
 '47822365',
 '43795768',
 '42918860',
 '47706817',
 '42986471',
 '42973912',
 '47230910',
 '42947204',
 '47771963',
 '47597873',
 '45707987',
 '47932341',
 '42864956',
 '47637426',
 '47361567',
 '46469301',
 '45310156',
 '47016290',
 '42930111',
 '42853867',
 '47006309',
 '47773977',
 '47356446',
 '42995675',
 '47461550',
 '45585773',
 '453732SU',
 '468807PM',
 '45065702',
 '42989549',
 '47940476',
 '47889111',
 '47618624',
 '42915667',
 '47877451',
 '472237CH',
 '47728262',
 '42855680',
 '47730990',
 '47906575',
 '46584695',
 '43431303',
 '47656540',
 '42925356',
 '45892147',
 '43856716',
 '46002038',
 '45613200',
 '47361588',
 '45628196',
 '45877737',
 '45750528',
 '47494308',
 '45389792',
 '47067184',
 '47734200',
 '43639388',
 '42851426',
 '42899527',
 '480048PA',
 '45126264',
 '43743761',
 '43905441',
 '47969178',
 '42884637',
 '47640127',
 '47969780',
 '47733808',
 '464469NA',
 '47619139',
 '47408036',
 '43802509',
 '45191546',
 '47862598',
 '47658553',
 '443696FR',
 '473605FO',
 '47650948',
 '45402731',
 '438538EV',
 '43943085',
 '47682414',
 '47911752',
 '45564926',
 '47291280',
 '47620889',
 '45864260',
 '47514846',
 '47986789',
 '47825264',
 '433723HO',
 '444794TI',
 '429688JO',
 '47944281',
 '47038787',
 '449405AL',
 '47837108',
 '45667747',
 '42976333',
 '47669756',
 '47034810',
 '47512426',
 '456315CS',
 '42883200',
 '45028469',
 '42861634',
 '42928570',
 '441137BE',
 '46480100',
 '42965434',
 '47571450',
 '452404LO',
 '47109348',
 '45298478',
 '43232509',
 '42921838',
 '43287102',
 '457236PI',
 '47812107',
 '43228809',
 '45145760',
 '47713922',
 '46682106',
 '47505109',
 '47865309',
 '45795291',
 '45780895',
 '45461668',
 '45891528',
 '43453306',
 '47500603',
 '43903056',
 '47491581',
 '47295429',
 '42946296',
 '45562461',
 '47083375',
 '45143448',
 '42997647',
 '43409344',
 '46399636',
 '44965369',
 '467394CH',
 '42920681',
 '47503952',
 '42963941',
 '42913909',
 '439484NO',
 '45903313',
 '438101QI',
 '45752292',
 '42935967',
 '47638608',
 '47763099',
 '47125327',
 '43956911',
 '47760993',
 '43874828',
 '44782609',
 '45110875',
 '47613141',
 '46622425',
 '47618814',
 '47250470',
 '43266818',
 '43633504',
 '45336536',
 '42972358',
 '45194396',
 '43782882',
 '47531520',
 '47672400',
 '45147839',
 '47202359',
 '42842905',
 '47791525',
 '47083425',
 '47872913',
 '47820401',
 '47045871',
 '47647515',
 '43806857',
 '47401012',
 '45414906',
 '45353485',
 '47892122',
 '441346CY',
 '42885848',
 '42915913']

In [20]:
#loop
counter=1
for id in corp_id_list:
    try:
        chrome.get("https://www.twincn.com/item.aspx?no="+str(id))
        try:
            table_tr_list = chrome.find_element("class name", "table-responsive").find_elements("tag name", "tr")
            table_list = []
            for tr in table_tr_list:
                #將每一個tr的資料根據td查詢出來，返回結果為list物件
                table_td_list = tr.find_elements("tag name", "td")
                row_list = []
                for td in table_td_list:    #遍歷每一個td
                    row_list.append(td.text)    #取出表格的資料，並放入行列表裡
                table_list.append(row_list)
            for i in table_list:
                if i[0]=='網址':
                    corp.loc[corp["corp_id"]==id,"website"] = i[1]
                elif i[0]=='公司名稱':
                    corp.loc[corp["corp_id"]==id,"corp_name_web"] = i[1]
                elif i[0]=='商業名稱':
                    corp.loc[corp["corp_id"]==id,"comm_name"] = i[1] 
                elif i[0]=='分公司名稱':
                    corp.loc[corp["corp_id"]==id,"branch_name"] = i[1]                
                elif i[0]=='英文名稱':
                    corp.loc[corp["corp_id"]==id,"corp_name_web_eng"] = i[1]      
                corp.loc[corp["corp_id"]==id,"check"] = "Y"
        except:
            try:
                check_in_homepage = chrome.find_element("id", "search-btn")
                corp.loc[corp["corp_id"]==id,"check"] = "N"
            except:
                corp.loc[corp["corp_id"]==id,"time_out"] = "Y"
                print("觸發反爬蟲,目前資料處理至第{}筆,corp_id為{}".format(corp_id_list_total.index(id),id))
                break
        rand_time = np.random.randint(5)
        time.sleep(rand_time)  #強制等待
        counter = counter+1
        if counter%50==0:
            print("已完成{}筆".format(counter))
            corp.to_excel('C:/Users/user/Downloads/corp_website_done.xlsx',index=False)
    except:
        corp.loc[corp["corp_id"]==id,"time_out"] = "Y"

已完成50筆
已完成100筆
已完成150筆
已完成200筆
已完成250筆
已完成300筆
已完成350筆
已完成400筆
已完成450筆
已完成500筆

In [49]:
corp_id_list_total[4535]

'28602398'

In [21]:
corp.to_excel('C:/Users/user/Downloads/corp_website_done.xlsx',index=False)