In [2]:
import requests
import numpy as np
import pandas as pd
import os
import time
import datetime
import re
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import Select
import time
import numpy as np

In [13]:
col_dict = {"corp_id": str, "corp_name": str, "website": str}
corp = pd.read_excel('C:/Users/user/Downloads/corp_website_done.xlsx', dtype=col_dict)

In [15]:
corp['corp_id']

0        000036QI
1        000040BA
2        000080MI
3        000195PH
4        000259PT
           ...
12686    98910003
12687    97413338
12688    97397885
12689    97417474
12690    97498531
Name: corp_id, Length: 12691, dtype: object

In [16]:
corp['corp_id'] = corp['corp_id'].map(lambda x:("0"*(8-len(x))+x) if len(x)<8 else x)

In [17]:
corp_id_list_total = list(corp["corp_id"])

In [18]:
corp

,corp_id,corp_name,corp_name_web,corp_name_web_eng,website,check,time_out
0,000036QI,NaN,NaN,NaN,NaN,N,NaN
1,000040BA,NaN,NaN,NaN,NaN,N,NaN
2,000080MI,NaN,NaN,NaN,NaN,N,NaN
3,000195PH,NaN,NaN,NaN,NaN,N,NaN
4,000259PT,NaN,NaN,NaN,NaN,N,NaN
...,...,...,...,...,...,...,...
12686,98910003,NaN,NaN,NaN,NaN,NaN,NaN
12687,97413338,NaN,NaN,NaN,NaN,NaN,NaN
12688,97397885,NaN,NaN,NaN,NaN,NaN,NaN
12689,97417474,NaN,NaN,NaN,NaN,NaN,NaN
12690,97498531,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#selenium settings
options = Options()
options.add_argument("--disable-gpu");
chrome = webdriver.Chrome('./chromedriver',options=options)
#設定等待時間
chrome.implicitly_wait(5)
chrome.set_page_load_timeout(15)

In [20]:
corp_id_list = corp_id_list_total[1980:3000]

In [21]:
corp_id_list

['16441221',
 '16299462',
 '18045198',
 '16238959',
 '16631236',
 '183545IN',
 '194782LI',
 '17657846',
 '16620462',
 '18051971',
 '16713911',
 '16248540',
 '16860552',
 '16584923',
 '168006VI',
 '16785689',
 '16886568',
 '186375SE',
 '188117NE',
 '16952721',
 '196812BR',
 '16175862',
 '18880007',
 '16602464',
 '168338ZH',
 '16804264',
 '16821046',
 '16275757',
 '19084015',
 '16663216',
 '16374969',
 '16697102',
 '16319002',
 '16727175',
 '16959554',
 '16832064',
 '16828358',
 '16436873',
 '16163161',
 '16645983',
 '16959935',
 '16759845',
 '16845455',
 '16218145',
 '16804406',
 '16887406',
 '18257848',
 '16505809',
 '16756381',
 '194962SA',
 '186379SH',
 '16654687',
 '16733769',
 '19812062',
 '16851218',
 '170267SE',
 '17521089',
 '16839714',
 '16366980',
 '16619628',
 '16610020',
 '16169215',
 '19386623',
 '18255428',
 '16617375',
 '16291320',
 '16706307',
 '16262562',
 '16664777',
 '18795706',
 '16585704',
 '16880136',
 '16314864',
 '188327MI',
 '16378536',
 '17192137',
 '174472BM',
 '16678251',
 '16462127',
 '18451630',
 '170385SI',
 '16594865',
 '16335501',
 '16451091',
 '16356667',
 '16393240',
 '16329206',
 '16630736',
 '16606102',
 '16525663',
 '16793858',
 '19619144',
 '16973845',
 '16168898',
 '16204368',
 '16291638',
 '17682269',
 '166446LE',
 '16284926',
 '16884597',
 '188986GI',
 '16779618',
 '16450473',
 '16585465',
 '191915PH',
 '16771030',
 '16756919',
 '17981007',
 '16844548',
 '16586598',
 '16296471',
 '175475BU',
 '18216805',
 '16757451',
 '16866084',
 '16633831',
 '16667395',
 '17830732',
 '177724PA',
 '16478211',
 '16766424',
 '16218279',
 '16615762',
 '16759633',
 '16513890',
 '16699018',
 '163942CS',
 '16684486',
 '16326171',
 '16313696',
 '16679738',
 '16581806',
 '16933648',
 '19004316',
 '16998578',
 '18523000',
 '16879551',
 '16240408',
 '16298908',
 '19373367',
 '185847AC',
 '167220SI',
 '16201600',
 '19269358',
 '16824183',
 '16453160',
 '16732184',
 '17191144',
 '16879139',
 '161875RJ',
 '16291503',
 '19362946',
 '16700388',
 '16951602',
 '16911709',
 '17179654',
 '16932752',
 '16793891',
 '16860476',
 '16599215',
 '16642141',
 '16414391',
 '17033096',
 '18466205',
 '16233758',
 '16757369',
 '16813101',
 '16220698',
 '16206990',
 '16948889',
 '16870123',
 '16549778',
 '168003VI',
 '16817900',
 '16483972',
 '16755910',
 '16478319',
 '16447098',
 '16915970',
 '16769246',
 '16963918',
 '16412915',
 '16703998',
 '16246445',
 '16550923',
 '17211373',
 '16866248',
 '16288795',
 '16892647',
 '16342777',
 '18144330',
 '17503651',
 '16405386',
 '17906459',
 '16863495',
 '16411697',
 '16596982',
 '16289892',
 '16581518',
 '18207783',
 '163785JI',
 '16830349',
 '16696595',
 '186177VI',
 '17385660',
 '16607123',
 '17185229',
 '195300KE',
 '16515882',
 '16604385',
 '16695786',
 '16282878',
 '17152579',
 '188839ZI',
 '16781467',
 '16621716',
 '16237178',
 '16581762',
 '16949091',
 '171180NO',
 '16370345',
 '19708954',
 '16445866',
 '16617446',
 '16442740',
 '16872868',
 '16296866',
 '19842137',
 '16622383',
 '16624523',
 '16825508',
 '16625797',
 '16671692',
 '185666JI',
 '16243524',
 '16999508',
 '16762567',
 '16514589',
 '16794266',
 '16729857',
 '16265857',
 '16797854',
 '16475452',
 '16979398',
 '18868215',
 '16270964',
 '16994193',
 '176848SH',
 '17037537',
 '16455110',
 '164890GO',
 '16678750',
 '16407172',
 '193969TO',
 '16852244',
 '16251678',
 '16626395',
 '19328700',
 '16816156',
 '18862508',
 '175580IN',
 '16839382',
 '16161467',
 '16694885',
 '16262021',
 '16176882',
 '189522AW',
 '16788546',
 '178347EN',
 '17901953',
 '16939663',
 '177491RA',
 '18185681',
 '16244869',
 '16445021',
 '16353459',
 '16807142',
 '16612907',
 '18791960',
 '189699LE',
 '16308645',
 '17221554',
 '17468599',
 '19840264',
 '16977005',
 '16835180',
 '16300242',
 '16273580',
 '197746SH',
 '16396963',
 '18351506',
 '16624452',
 '16619417',
 '16938545',
 '16446470',
 '16675260',
 '16254514',
 '166259TO',
 '16541333',
 '16201340',
 '189108RI',
 '16593514',
 '183557JI',
 '16691986',
 '16339892',
 '16607806',
 '16514700',
 '16399011',
 '17586218',
 '16281054',
 '16705686',
 '16208239',
 '16247789',
 '16164794',
 '16778049',
 '187486CH',
 '170836GA',
 '192671RA',
 '16795912']

In [23]:
#loop
counter=1
for id in corp_id_list:
    try:
        chrome.get("https://www.twincn.com/item.aspx?no="+str(id))
        try:
            table_tr_list = chrome.find_element("class name", "table-responsive").find_elements("tag name", "tr")
            table_list = []
            for tr in table_tr_list:
                #將每一個tr的資料根據td查詢出來，返回結果為list物件
                table_td_list = tr.find_elements("tag name", "td")
                row_list = []
                for td in table_td_list:    #遍歷每一個td
                    row_list.append(td.text)    #取出表格的資料，並放入行列表裡
                table_list.append(row_list)
            for i in table_list:
                if i[0]=='網址':
                    corp.loc[corp["corp_id"]==id,"website"] = i[1]
                elif i[0]=='公司名稱':
                    corp.loc[corp["corp_id"]==id,"corp_name_web"] = i[1]
                elif i[0]=='英文名稱':
                    corp.loc[corp["corp_id"]==id,"corp_name_web_eng"] = i[1]      
                corp.loc[corp["corp_id"]==id,"check"] = "Y"
        except:
            corp.loc[corp["corp_id"]==id,"check"] = "N"
        rand_time = np.random.randint(15)
        time.sleep(rand_time)  #強制等待
        counter = counter+1
        if counter%50==0:
            print("已完成{}筆\n".format(counter))
            corp.to_excel('C:/Users/user/Downloads/corp_website_done.xlsx',index=False)
    except:
        corp.loc[corp["corp_id"]==id,"time_out"] = "Y"

已完成50筆

已完成100筆

已完成150筆

已完成200筆

已完成250筆

已完成300筆

In [16]:
corp

,corp_id,corp_name,corp_name_web,corp_name_web_eng,website,check
0,22099131,台灣積體電路製造股份有限公司,台灣積體電路製造股份有限公司,Taiwan Semiconductor Manufacturing Company Lim...,https://www.tsmc.com,Y
1,01615407,全翔食品行,全翔食品行,NaN,NaN,Y
2,7788,NaN,NaN,NaN,NaN,N
3,12336458,NaN,NaN,NaN,NaN,N
4,8046542,NaN,NaN,NaN,NaN,N
5,84149961,NaN,聯發科技股份有限公司,MEDIATEK INC.,http://www.mediatek.com,Y

In [122]:
corp.to_excel('corp_website_done.xlsx',index=False)